amp-social-share[type=hatena_bookmark] {
	width: 60px ;
	height: 44px ;
	font-family: Verdana ;
	background-color: #00A4DE ;
	font-weight: 700 ;
	color: #fff ;
	line-height: 44px ;
	text-align: center ;
	font-size: 28px ;
}
amp-social-share[type=pocket] {
	width: 60px ;
	height: 44px ;
	background-color: #EF3E55 ;
	font-weight: 700 ;
	color: #fff ;
	line-height: 44px ;
	text-align: center ;
	font-size: 28px ;
}
amp-social-share[type=line] {
	width: 60px ;
	height: 44px ;
	font-family: Verdana ;
	background-color: #00B900 ;
	font-weight: 700 ;
	color: #fff ;
	line-height: 44px ;
	text-align: center ;
	font-size: 14px ;
}
