スライドはいつも通り [Rabbit Slide Show](https://slide.rabbit-shocker.org/authors/{{ include.author }}/{{ include.slide }}/) ([RubyGems](https://rubygems.org/gems/rabbit-slide-{{ include.author }}-{{ include.slide }})), [SlideShare](http://www.slideshare.net/{{ include.slideshare }}), [Speaker Deck](https://speakerdeck.com/{{ include.speakerdeck }}) にあげています。(ソースは [github](https://github.com/{{ include.author }}/{{ include.slide }}) にあげています。)

{% include rabbit-slide.html author="{{ include.author }}" slide="{{ include.slide }}" title="{{ include.title }}" %}
